$yellow: #FEE140;
$pink: #FA709A;
$blue: #2216af;
$darkRed: #BB231B;
$darkGrey: rgb(17, 17, 17);

$bluishWhite:#f8f7fd;
$libertyPurple: #5F5AB8;
$unitedNationsBlue: #568BD1;

$lightPeriwinkle:#c6cbd8;

$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;
$fontStack: Montserrat,
Gotham,
system-ui,
-apple-system,
BlinkMacSystemFont,
San Francisco,
Segoe UI,
メイリオ,
Meiryo,
Segoe UI,
sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1: 6.625rem;
$fontSizeH1sub: 4.8rem;
$fontSizeH2: 2.375rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$spaceLetters:0.45px;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;
$maxWidthS: 480px;
$maxWidthM: 640px;
$maxWidthL: 1096px;
$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;
$section-margin:5rem;

*,
html {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    -ms-user-modify: none;
    user-modify: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    font-family: $fontStack;
    font-weight: $fontWeightRegular;
    font-synthesis: none;
    border: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    // background-color: black;
    background: $bluishWhite;
    color: black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p,
    div,
    a {
        &::selection {
            background: black;
            color: white;
        }
    }
}

.container {
    width: 100%;
}

.header {
    position: fixed;
    z-index: 1024;
    width: 100%;
    display: flex;
    top: 1rem;
    transition: 0.5s;

    .container {
        position: relative;

        background: transparent;
        border-radius: .0010px;
        overflow: hidden;
        // animation: leftToRight 0.75s forwards;
        transform: translateY(-100px);
        opacity: 0;
        animation: topToBottom 0.75s forwards 0.75s;
        transition: 0.3s;


        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: .0010px;
            background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            transition: 0.5s;
            opacity: 0;
        }

        &.scrolled {
            &::before {
                // top: 0;
                opacity: 1;
            }
        }



    }


    &__logo {
        display: flex;
        position: relative;
        padding: $spaceS;
        z-index: 16;
        transition: 0.5s $bezierFastoutSlowin;
        cursor: pointer;
        color: white;
        line-height: 2.5rem;
        font-size: $fontSizeBodyL;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.25rem 0;
            margin-right: 1rem;

            path,
            rect {
                fill: white;
            }
        }
    }

    .nav-toggle {
        // position: fixed;
        top: 1rem;
        right: 2.5rem;
        margin-right: 1rem;
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        svg {
            color: white;
            fill: white;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: 50%;
            position: absolute;
            width: 28px;
            height: 28px;

            path {
                fill: white;
                transition: $bezierFastoutSlowin 0.5s;
            }
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }


    .button-icon-only {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &__nav {
        flex-grow: 10;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        padding: $spaceM;
        color: white;
        font-weight: $fontWeightMedium;
        font-size: initial;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        padding: $spaceS;
        margin: $spaceS;
        border-radius: .00$spaceXS;
        letter-spacing: $spaceLetters;
        transition: $bezierFastoutSlowin 0.36s;

        &:active,
        &:hover {
            text-decoration: none;
            background-color: white;
            color: black;
        }

        &.active {
            background-color: white;
            color: black;
        }
    }

    &__nav-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 16;

        svg path {
            fill: white;
        }
    }

    &__nav-icon-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spaceS;
        width: $space2XL;
        height: $space2XL;
        color: white;
        transition: $durationM $bezierFastoutSlowin;

        &:hover {
            svg {
                transform: scale(1.2);
            }
        }

        &:active {
            svg {
                transform: scale(1);
            }
        }

        svg {
            padding: 1px;
            transition: $durationM ease;

            path {
                fill: white;
                transition: fill $durationM ease;
            }
        }
    }

}

@keyframes introBackground {
    from {
        background-position: top right;
    }

    to {
        background-position: bottom left;
    }
}

@keyframes leftToRight {
    from {
        left: -150%;
    }

    to {
        left: 0;
    }
}

@keyframes rightToLeft {
    from {
        right: -150%;
    }

    to {
        right: 0;
    }
}

@keyframes bottomToTop {
    from {
        bottom: -25%;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes topToBottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scaleAndOpacity {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.intro {
    position: relative;
    transition: 0.7s;
    width: 100%;
    position: relative;
    height: 100vh;

    &__carousel {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .owl-stage-outer {
            // border-radius:  .0015px;
            height: 100%;

            .owl-stage {
                height: 100%;
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            justify-content: center;

            .owl-dot {
                border-radius: .0010px;
                width: 15%;
                height: 0.75rem;
                background: white;
                margin: 0 0.25rem;

                &:focus {
                    outline: none;
                    border: none;
                }

                &.active {
                    background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);
                }
            }
        }
    }


    &__img {
        // border-radius:  .0015px;
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, $unitedNationsBlue 30%, $darkGrey 100%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            opacity: 0.6;
            filter: brightness(110%);
            z-index: 0;
            position: absolute;
            background: url('../images/logistics-people.jpg');
            background-size: cover;
            background-position: center;
            // border-radius:  .0015px;
        }

        &-2::before {
            background: url('../images/ship.jpeg');
            background-size: cover;
            background-position: center;
        }
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    &__heading {
        font-weight: 900;
        color: white;
        font-size: $fontSizeH1sub;
        position: relative;
        z-index: 2;
        font-size: $fontSizeH1;
        width: 100%;
        margin-left: 2rem;
        opacity: 0;
        animation: bottomToTop 0.5s forwards 2s;

        &-container {
            width: 100%;
            display: flex;
            height: 100%;
            align-items: center;
        }

        &--company-name {
            font-size: $fontSizeH1sub;
            display: block;
        }
    }


    &__btn {
        // background: $unitedNationsBlue;
        animation: scaleAndOpacity 0.5s forwards 2.5s;
        transform: scale(0.3);
        opacity: 0;
        border-radius: .008px;
        color: white;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 3;
        padding: 1rem 2rem;
        letter-spacing: 0.45px;
        border: none;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        &-text {
            position: relative;
            z-index: 2;
            font-weight: 500;
        }

        &::before {
            content: '';
            bottom: -100%;
            height: 200%;
            width: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(45deg, $libertyPurple -50%, $unitedNationsBlue 150%);
            transition: 0.3s;
            z-index: 1;
        }

        &:hover {
            color: white;
            background: linear-gradient(45deg, $libertyPurple -50%, $unitedNationsBlue 150%);
            border: none;
            outline: none;
            transform: scale(1.1);
            filter: brightness(120%);

            &::before {
                bottom: 0;
            }
        }
    }
}


.big-title {
    font-size: $fontSizeH2;
    font-weight: 500;
    margin: 1rem auto;
    display: inline-block;
    background: linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
    background: -webkit-linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::selection {
        color: white;
        background: black;
        background-clip: initial;
    }
}

.about {
    color: white;
    margin-top: $section-margin;

    &__container-helper {
        min-height: 50vh;
    }

    &__text-container {
        background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);
        border-radius: .0015px;
        min-height: 20vh;
        padding: 1.5rem;
    }

    &__heading,
    &__subheading {
        position: relative;
        z-index: 2;
    }

    &__carousel {


        .owl-stage-outer {
            border-radius: .0015px;
        }

        .owl-dots {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            justify-content: center;

            .owl-dot {
                border-radius: .0010px;
                width: 15%;
                height: 0.75rem;
                background: white;
                margin: 0 0.25rem;
                transition: 0.3s;

                &:focus {
                    outline: none;
                    border: none;
                }

                &.active {
                    background: $unitedNationsBlue;
                }
            }
        }
    }

    &__img {
        border-radius: .0015px;
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 100%;
        min-height: 70vh;
        max-height: 100vh;
        background: linear-gradient(45deg, $unitedNationsBlue 30%, $darkGrey 100%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            opacity: 0.6;
            filter: brightness(110%);
            z-index: 0;
            position: absolute;
            background: url('../images/logistics-people.jpg');
            background-size: cover;
            background-position: center;
            border-radius: .0015px;
        }

        &-2::before {
            background: url('../images/ship.jpeg');
            background-size: cover;
            background-position: center;
        }
    }
}

.offer {

    margin-top: calc(1.5rem + 1.5rem);
    color: white;

    &__text-container {
        // background: $darkGrey;
        background: white;
        background: linear-gradient(45deg, $libertyPurple -110%, $unitedNationsBlue 110%);
        border-radius: .0015px;
        min-height: 30vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
    }

    &__heading-svg {
        width: 30rem;
        height: 30rem;
        position: absolute;
        top: -4rem;
        right: 1rem;

        path,
        circle,
        rect {
            fill: white;
        }
    }

    &__carousel {
        .owl-item.active {
            .offer__carousel-link {
                // color: white;
                color: black;
                outline: none;
                text-decoration: none;

                &::before {
                    margin: -4px;
                }
            }
        }

        .owl-dots {
            position: absolute;
            bottom: -2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            justify-content: center;

            .owl-dot {
                border-radius: .0010px;
                width: 100%;
                height: 0.75rem;
                background: #111111;
                margin: 0 0.25rem;

                &:focus {
                    outline: none;
                    border: none;
                }

                &.active {
                    background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
                }
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-link {
            // color: white;
            color: black;
            border: 4px solid transparent;
            border-radius: .0010px;
            transition: 0.3s;
            padding: 1.5rem;
            position: relative;
            // background: #000;
            background: white;
            background-clip: padding-box;
            display: flex;
            flex-direction: column;
            height: 312px;
            width: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: 1px;
                /* !importanté */
                border-radius: .00inherit;
                /* !importanté */
                background: black;
                transition: 0.3s;
                background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
            }

            &:hover {
                color: white;
                outline: none;
                text-decoration: none;

                &::before {
                    margin: -4px;
                }

                .offer__carousel-btn {
                    &::before {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

            }
        }

        &-svg {
            display: block;
            height: 3rem;
            width: 100%;

            path {
                // stroke: white;
                stroke: black;
            }
        }

        &-item-title {
            text-align: center;
            // color: white;
            color: black;
            outline: none;
            text-decoration: none;
        }

        &-btn {
            width: 100%;
            border: none;
            outline: none;
            color: white;
            background: $darkGrey;
            transition: 0.3s;
            position: relative;
            color: white;
            border-radius: .0010px;
            overflow: hidden;
            transition: 0.3s;
            margin-top: auto;

            &-text {
                color: white;
                position: relative;
                z-index: 2;
            }

            &::before {
                content: '';
                bottom: 0;
                height: 100%;
                width: 100%;
                transform: scale(0);
                opacity: 0;
                position: absolute;
                left: 0;
                border-radius: .0010px;
                background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
                transition: 0.3s;
                z-index: 1;
            }

        }
    }
}

.jobs {
    margin-top: $section-margin;



    &__img {
        border-radius: .0015px;
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 100%;
        min-height: 100vh;
        max-height: 100vh;
        background: linear-gradient(45deg, $libertyPurple 0%, $bluishWhite 100%);
        filter: brightness(120%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            opacity: 0.66;
            filter: brightness(20%);
            z-index: 0;
            position: absolute;
            background: url('../images/shake-hand.jpeg');
            background-size: cover;
            background-position: center;
            border-radius: .0015px;
        }
    }

    &__subheading {
        position: absolute;
        top: 0;
        color: white;
        font-weight: 900;
        letter-spacing: 0.45px;
        font-size: $fontSizeH1sub;
        line-height: 2;
        width: 100%;
        text-align: center;
    }

    &__job-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-rows: fit-content(1em);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    &__item {
        background: $bluishWhite;
        border-radius: .0015px;
        display: inline-block;
        padding: 1.25rem;
        color: $darkGrey;
        border: 4px solid $bluishWhite;
        transition: 0.3s;
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__place {
        display: flex;
        align-items: center;

        &-text {
            font-weight: 500;
        }
    }

    &__svg {
        display: block;
        height: 2rem;
        margin-right: 1rem;

        path,
        circle {
            stroke: $darkGrey;
        }
    }

    &__item-title {
        color: $darkGrey;
        outline: none;
        text-decoration: none;
        letter-spacing: 0.45px;
        font-weight: 700;
        font-size: $fontSizeH3;
        margin: 0;
    }

    &__description {
        font-size: $fontSizeBodyXS;
    }

    &__btn {
        width: 100%;
        border: none;
        outline: none;
        color: white;
        background: $darkGrey;
        transition: 0.3s;
        position: relative;
        color: white;
        border-radius: .0010px;
        overflow: hidden;
        transition: 0.3s;
        background: white;
        margin-top: auto;
        font-size: $fontSizeBodyM;

        &-text {
            color: black;
            position: relative;
            z-index: 2;
            transition: 0.3s;
        }

        &::before {
            content: '';
            bottom: 0;
            height: 100%;
            width: 100%;
            transform: scale(0);
            opacity: 0;
            position: absolute;
            left: 0;
            border-radius: .0010px;
            background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
            transition: 0.3s;
            z-index: 1;
        }

        &:hover {
            color: white;
            outline: none;
            text-decoration: none;
            background: transparent;

            .jobs__btn-text {
                color: white;
            }

            &::before {
                opacity: 1;
                transform: scale(1.1);

            }
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

    }
}

.documents {
    color: white;
    margin-top: $section-margin;


    &__text-container {
        background: $darkGrey;
        background: linear-gradient(350deg, $libertyPurple -80%, $unitedNationsBlue 100%);
        border-radius: .0015px;
        min-height: 30vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
    }

    &__heading-svg {
        width: 30rem;
        height: 30rem;
        position: absolute;
        top: 0rem;
        right: 1rem;

        path,
        rect,
        circle {
            fill: white;
        }
    }

    &__table-container {

        .table thead th,
        .table td,
        .table th {
            border-color: $darkGrey;
            color: $darkGrey;
            padding: 0.75rem 1.25rem;
            font-size: 0.75rem;
        }

        .table thead tr th:first-child {
            width: 10px;
        }


        .table thead tr th:last-child {
            width: 100%;
        }
    }
}

.news {

    margin-top: $section-margin;

    &__text-container {
        // background: $darkGrey;
        background: white;
        background: linear-gradient(45deg, $unitedNationsBlue -110%, $libertyPurple 110%);
        border-radius: .0015px;
        min-height: 30vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        color: white;
    }

    &__img {
        border-radius: .0015px;
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 100%;
        height: auto;
        background: linear-gradient(-375deg, $libertyPurple 40%, $unitedNationsBlue 110%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            opacity: 0.6;
            filter: brightness(110%);
            z-index: 0;
            position: absolute;
            background: url('../images/news.jpg');
            background-size: cover;
            background-position: center;
            border-radius: .0015px;
        }
    }

    &__read-every {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem;
        border-radius: .0012px;
        color: white;
        font-weight: 700;
        font-size: $fontSizeH3;
        transition: 0.3s;
        border: none;
        outline: none;
        width: 100%;
        transition: 0.3s;
        overflow: hidden;
        background: transparent;
        text-align: right;

        &:hover {
            color: white;
            background: $unitedNationsBlue;
            text-decoration: none;
        }


    }

    &__place {
        display: flex;
        align-items: center;


        &-text {
            font-size: $fontSizeBodyM;
            font-weight: 500;
        }
    }

    &__svg {
        display: block;
        height: 2rem;
        margin-right: 1rem;

        path,
        circle {
            fill: $darkGrey;
        }
    }

    &__item-title {
        color: $darkGrey;
        outline: none;
        text-decoration: none;
        letter-spacing: 0.45px;
        font-weight: 700;
        font-size: $fontSizeBodyL;
        margin: 0;
    }
}

.newsletter {
    position: relative;
    transition: 0.7s;
    border-radius: .0015px;
    display: flex;
    justify-content: center;
    color: white;

    .container {
        position: relative;
        min-height: 30vh;
        margin: 0 auto;


    }

    &__container {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 1.25rem;
        margin: 0 1rem;
        border-radius: .0015px;
        background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            opacity: 0.6;
            z-index: 0;
            filter: brightness(25%);
            position: absolute;
            background: url('../images/ship.jpeg');
            background-size: cover;
            background-position: bottom left;
            border-radius: .0015px;
        }
    }

    &__heading {
        font-weight: 700;
        letter-spacing: 0.45px;
        color: white;
        position: relative;
        z-index: 2;
    }

    &__subheading {
        font-weight: 500;
        color: white;
        font-size: $fontSizeBodyM;
        position: relative;
        z-index: 2;
        width: 100%;
    }

    &__email {
        border-radius: .008px;
        color: $darkGrey;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 3;
        padding: 0.5rem 1rem;
        letter-spacing: 0.45px;
        border: none;
        transition: 0.3s;
        background: white;
        min-width: 200px;
        border: 3px solid white;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        &:focus {
            outline: none;
            border: 3px solid $unitedNationsBlue;
        }
    }

    &__btn {
        border-radius: .008px;
        color: white;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 3;
        padding: 0.5rem 2rem;
        letter-spacing: 0.45px;
        border: none;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        &-text {
            position: relative;
            z-index: 2;
            font-weight: 500;
        }

        &::before {
            content: '';
            bottom: -50%;
            height: 200%;
            width: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);
            transition: 0.3s;
            z-index: 1;
        }

        &:hover {
            color: white;
            background: linear-gradient(45deg, $libertyPurple 0%, $unitedNationsBlue 100%);
            border: none;
            outline: none;
            transform: scale(1.1);

            &::before {
                bottom: 0;
            }
        }
    }

    &__info {
        position: relative;
        z-index: 2;

        a {
            color: $unitedNationsBlue;
            position: relative;
            z-index: 5;
        }
    }
}

.contact {
    color: white;
    margin-top: $section-margin;


    &__text-container {
        // background: $darkGrey;
        background: white;
        background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
        border-radius: .0015px;
        min-height: 30vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        color: white;
    }

    &__info-container {
        background: white;
        background: linear-gradient(45deg, #111111 -110%, $unitedNationsBlue 110%);
        border-radius: .0015px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
        color: white;
    }

    &__info {
        line-height: 1.8;
        font-weight: 500;
    }

    &__map {
        width: 100%;
        height: 100%;
        min-height: 50vh;
        border-radius: .0015px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: $darkGrey;
    color: white;

    .container {
        border-radius: .0015px;
        margin: 0 1rem;
        position: relative;
        padding: 3rem 1rem;
    }

    &__logo {
        width: 100%;

        svg {
            height: 100px;
            width: 100%;
        }

        svg path,
        svg rect {
            fill: white;
        }
    }

    &__heading {
        font-weight: 700;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        background: linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
        background: -webkit-linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    &__ul {
        padding-left: 0;
    }

    &__li {
        list-style: none;
        font-weight: 500;
        line-height: 2;
    }

    &__link {
        color: white;
        transition: 0.3s;

        &:hover {
            color: $unitedNationsBlue;
            text-decoration: none;
            padding-left: 0.5rem;
        }
    }

    &__author-name {
        display: inline-block;
        margin: 0 0.5rem;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
        background: -webkit-linear-gradient(45deg, $unitedNationsBlue 0%, $libertyPurple 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0.25rem 0.5rem;
        border-radius: .000.5rem;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width:1200px) {
    .intro {
        &__heading {
            font-size: $fontSizeH2;
        }
    }

    .jobs {
        &__subheading {
            font-size: $fontSizeH2;
        }

        &__img {
            min-height: 30vh;
            max-height: 50vh;

            &::before {
                background-position: center 700px;
            }
        }
    }

    .footer {
        text-align: center;
    }

}

@media (max-width:768px) {
    .header {
        bottom: initial;
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 0;
        height: 48px;

        &__logo {
            padding: 0;

            svg path,
            svg rect {
                fill: white;
            }
        }

        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            transform: translate3d(0, -100%, 0);
            transition-duration: $durationL;
            transition-timing-function: $bezierFastoutSlowin;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur($spaceXS);
            max-width: 100%;
            width: 100%;
            opacity: 0;


            &--entered {
                transform: translateZ(0);
                opacity: 1;
            }

        }

        &__nav-list {
            transform: none;
            display: block;
            flex-direction: initial;
        }

        &__nav-link {
            width: 100%;
            display: block;
            font-size: $fontSizeBodyL;
            padding: 16px;
            text-align: center;
        }

        .nav-toggle {
            display: flex;

            &--entered {
                .nav-toggle__icon--menu {
                    opacity: 0;
                    transform: translate(-10%, -50%);
                }

                .nav-toggle__icon--close {
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }
    }

    .jobs {
        &__img {
            max-height: 50vh;
        }

        &__job-container {
            row-gap: 0.25rem;
        }
    }

    .offer {
        &__carousel-link {
            height: 384px;
        }

        &__heading-svg {
            width: 13rem;
            height: 30rem;
            position: absolute;
            top: -15rem;
            right: -5rem;
            opacity: 0.8;
        }
    }

    .documents {
        &__heading-svg {
            width: 13rem;
            height: 30rem;
            position: absolute;
            top: -15rem;
            right: -5rem;
            opacity: 0.8;
        }
    }
}

@media (max-width: 480px) {

    .offer {
        &__carousel-link {
            height: 320px;
        }
    }
}