$yellow: #FEE140;
$pink: #FA709A;
$blue: #2216af;
$darkRed: #BB231B;
$darkGrey: rgb(17, 17, 17);
$bluishWhite:#f8f7fd;
$libertyPurple: #fa4612;
$unitedNationsBlue: #fa4612;

$orange: #fa4612;
$lightPeriwinkle:#c6cbd8;
$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;
$fontStack: Montserrat,
Gotham,
system-ui,
-apple-system,
BlinkMacSystemFont,
San Francisco,
Segoe UI,
メイリオ,
Meiryo,
Segoe UI,
sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1: 4rem;
$fontSizeH2: 2.375rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$spaceLetters:0.45px;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;
$maxWidthS: 480px;
$maxWidthM: 640px;
$maxWidthL: 1096px;
$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;
$section-margin:5rem;
$shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-xl: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$shadow-2xl: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

.shadow-md {
    box-shadow: $shadow-md;
}

.shadow-lg {
    box-shadow: $shadow-lg;
}

.shadow-xl {
    box-shadow: $shadow-xl;
}

.shadow-2xl {
    box-shadow: $shadow-2xl;
}



.triangle-btn {
    position: relative;
    padding: 0.5rem 35px;
    border: 1px solid $orange;
    border-radius: 0.25rem;
    background: white;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    z-index: 1;
    // overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid white;
        transition: 0.3s;
        z-index: 1;
    }

    &::before {
        content: '';
        background: #fa4612;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        z-index: -1;
        transition: 0.3s;
        position: absolute;
        left: -1px;
        top: -1px;
        border-radius: 0.25rem;
    }



    &:hover {
        color: $orange;
        background: white;

        &::after {
            border-left: 16px solid $orange;
        }

        &::before {
            width: 0%;
        }
    }
}