@charset "UTF-8";
*,
html {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-modify: none;
  -moz-user-modify: none;
  -ms-user-modify: none;
  user-modify: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background: transparent;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, メイリオ, Meiryo, Segoe UI, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  border: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background: white;
  color: black;
}

body h1::-moz-selection,
body h2::-moz-selection,
body h3::-moz-selection,
body h4::-moz-selection,
body h5::-moz-selection,
body h6::-moz-selection,
body span::-moz-selection,
body p::-moz-selection,
body div::-moz-selection,
body a::-moz-selection {
  background: black;
  color: white;
}

body h1::selection,
body h2::selection,
body h3::selection,
body h4::selection,
body h5::selection,
body h6::selection,
body span::selection,
body p::selection,
body div::selection,
body a::selection {
  background: black;
  color: white;
}

.container-fluid {
  width: 100%;
  max-width: 1700px;
}

.header {
  position: fixed;
  z-index: 1024;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .container-fluid {
  position: relative;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-animation: topToBottom 0.75s forwards 0.75s;
          animation: topToBottom 0.75s forwards 0.75s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container-fluid::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #BB231BFF 0%, #2216afFF 100%);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.header .container-fluid.scrolled::before {
  opacity: 1;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px;
  z-index: 16;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: white;
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__logo:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__logo svg {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem 0;
  margin-right: 1rem;
}

.header__logo svg path,
.header__logo svg rect {
  fill: white;
}

.header .nav-toggle {
  top: 1rem;
  right: 2.5rem;
  margin-right: 1rem;
  z-index: 1024;
  display: none;
  background: none;
  border: 0;
  outline: 0;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-toggle svg {
  color: white;
  fill: white;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
}

.header .nav-toggle svg path {
  fill: white;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.header .nav-toggle__inner {
  position: relative;
}

.header .nav-toggle__icon--menu {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .nav-toggle__icon--close {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  padding: 16px;
  color: white;
  font-weight: 500;
  font-size: initial;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  letter-spacing: 0.45px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.36s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.36s;
}

.header__nav-link:active, .header__nav-link:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.header__nav-link.active {
  background-color: white;
  color: black;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 16;
}

.header__nav-icons svg path {
  fill: white;
}

.header__nav-icon-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: white;
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-icon-link:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav-icon-link:active svg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__nav-icon-link svg {
  padding: 1px;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.header__nav-icon-link svg path {
  fill: white;
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}

@-webkit-keyframes introBackground {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}

@keyframes introBackground {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}

@-webkit-keyframes leftToRight {
  from {
    left: -150%;
  }
  to {
    left: 0;
  }
}

@keyframes leftToRight {
  from {
    left: -150%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes rightToLeft {
  from {
    right: -150%;
  }
  to {
    right: 0;
  }
}

@keyframes rightToLeft {
  from {
    right: -150%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes bottomToTop {
  from {
    bottom: -25%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes bottomToTop {
  from {
    bottom: -25%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes topToBottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scaleAndOpacity {
  from {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAndOpacity {
  from {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.intro {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  position: relative;
  height: 100vh;
  right: -150%;
  -webkit-animation: rightToLeft 0.75s forwards;
          animation: rightToLeft 0.75s forwards;
}

.intro__carousel {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__carousel .owl-stage-outer {
  border-radius: 15px;
  height: 100%;
}

.intro__carousel .owl-stage-outer .owl-stage {
  height: 100%;
}

.intro__carousel .owl-dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__carousel .owl-dots .owl-dot {
  border-radius: 10px;
  width: 15%;
  height: 1rem;
  background: black;
  margin: 0 0.25rem;
}

.intro__carousel .owl-dots .owl-dot:focus {
  outline: none;
  border: none;
}

.intro__carousel .owl-dots .owl-dot.active {
  background: linear-gradient(45deg, #111111 0%, #BB231B 100%);
}

.intro__img {
  border-radius: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #BB231B 30%, #111111 100%);
}

.intro__img::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.6;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  z-index: 0;
  position: absolute;
  background: url("logistics-people.eac0e426.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.intro__img-2::before {
  background: url("ship.006159e2.jpeg");
  background-size: cover;
  background-position: center;
}

.intro .container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__heading {
  font-weight: 900;
  color: white;
  font-size: 4.8rem;
  position: relative;
  z-index: 2;
  font-size: 6.625rem;
  width: 100%;
  margin-left: 2rem;
  opacity: 0;
  -webkit-animation: bottomToTop 0.5s forwards 2s;
          animation: bottomToTop 0.5s forwards 2s;
}

.intro__heading-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__heading--company-name {
  font-size: 4.8rem;
  display: block;
}

.intro__btn {
  -webkit-animation: scaleAndOpacity 0.5s forwards 2.5s;
          animation: scaleAndOpacity 0.5s forwards 2.5s;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
  border-radius: 8px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 3;
  padding: 1rem 2rem;
  letter-spacing: 0.45px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.intro__btn-text {
  position: relative;
  z-index: 2;
  font-weight: 500;
}

.intro__btn::before {
  content: '';
  bottom: -50%;
  height: 200%;
  width: 100%;
  position: absolute;
  left: 0;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.intro__btn:hover {
  color: white;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  border: none;
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro__btn:hover::before {
  bottom: 0;
}

.big-title {
  font-size: 10vw;
  font-weight: 500;
  margin: 1rem auto;
  display: inline-block;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background: -webkit-linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-title::-moz-selection {
  color: white;
  background: black;
  background-clip: initial;
}

.big-title::selection {
  color: white;
  background: black;
  background-clip: initial;
}

.about {
  color: white;
  margin-top: 25vh;
}

.about__container-helper {
  min-height: 50vh;
}

.about__text-container {
  background: linear-gradient(45deg, #111111 0%, #BB231B 100%);
  border-radius: 15px;
  min-height: 20vh;
  padding: 1.5rem;
}

.about__heading, .about__subheading {
  position: relative;
  z-index: 2;
}

.about__carousel .owl-stage-outer {
  border-radius: 15px;
}

.about__carousel .owl-dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__carousel .owl-dots .owl-dot {
  border-radius: 10px;
  width: 15%;
  height: 1rem;
  background: black;
  margin: 0 0.25rem;
}

.about__carousel .owl-dots .owl-dot:focus {
  outline: none;
  border: none;
}

.about__carousel .owl-dots .owl-dot.active {
  background: linear-gradient(45deg, #111111 0%, #BB231B 100%);
}

.about__img {
  border-radius: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100%;
  min-height: 70vh;
  max-height: 100vh;
  background: linear-gradient(45deg, #BB231B 30%, #111111 100%);
}

.about__img::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.6;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  z-index: 0;
  position: absolute;
  background: url("logistics-people.eac0e426.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.about__img-2::before {
  background: url("ship.006159e2.jpeg");
  background-size: cover;
  background-position: center;
}

.offer {
  margin-top: calc(1.5rem + 1.5rem);
  color: white;
}

.offer__text-container {
  background: white;
  background: linear-gradient(45deg, #111111 -110%, #2216af 110%);
  border-radius: 15px;
  min-height: 30vh;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.offer__heading-svg {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: -4rem;
  right: 1rem;
}

.offer__heading-svg path,
.offer__heading-svg circle,
.offer__heading-svg rect {
  fill: white;
}

.offer__carousel .owl-item.active .offer__carousel-link {
  color: black;
  outline: none;
  text-decoration: none;
}

.offer__carousel .owl-item.active .offer__carousel-link::before {
  margin: -4px;
}

.offer__carousel .owl-dots {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__carousel .owl-dots .owl-dot {
  border-radius: 10px;
  width: 100%;
  height: 1rem;
  background: #111111;
  margin: 0 0.25rem;
}

.offer__carousel .owl-dots .owl-dot:focus {
  outline: none;
  border: none;
}

.offer__carousel .owl-dots .owl-dot.active {
  background: linear-gradient(45deg, #111111 -110%, #2216af 110%);
}

.offer__carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__carousel-link {
  color: black;
  border: 4px solid transparent;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1.5rem;
  position: relative;
  background: white;
  background-clip: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 312px;
  width: 100%;
}

.offer__carousel-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 1px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(45deg, #111111 -110%, #2216af 110%);
}

.offer__carousel-link:hover {
  color: white;
  outline: none;
  text-decoration: none;
}

.offer__carousel-link:hover::before {
  margin: -4px;
}

.offer__carousel-link:hover .offer__carousel-btn::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.offer__carousel-svg {
  display: block;
  height: 3rem;
  width: 100%;
}

.offer__carousel-svg path {
  stroke: black;
}

.offer__carousel-item-title {
  text-align: center;
  color: black;
  outline: none;
  text-decoration: none;
}

.offer__carousel-btn {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #111111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  margin-top: auto;
}

.offer__carousel-btn-text {
  color: white;
  position: relative;
  z-index: 2;
}

.offer__carousel-btn::before {
  content: '';
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(45deg, #111111 -110%, #2216af 110%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.jobs {
  margin-top: 25vh;
}

.jobs .big-title {
  background: linear-gradient(45deg, #BB231B 0%, #2216af 60%);
  background: -webkit-linear-gradient(45deg, #BB231B 0%, #2216af 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jobs__img {
  border-radius: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(45deg, #111111 0%, #2216af 50%);
}

.jobs__img::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.6;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  z-index: 0;
  position: absolute;
  background: url("shake-hand.49268da0.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.jobs__subheading {
  position: absolute;
  top: 0;
  color: white;
  font-weight: 900;
  letter-spacing: 0.45px;
  font-size: 4.8rem;
  line-height: 2;
  width: 100%;
  text-align: center;
}

.jobs__job-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: fit-content(1em);
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.jobs__item {
  background: #111111;
  border-radius: 15px;
  display: inline-block;
  padding: 1.25rem;
  color: white;
  border: 4px solid #111111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobs__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.jobs__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jobs__place-text {
  font-weight: 500;
}

.jobs__svg {
  display: block;
  height: 2rem;
  margin-right: 1rem;
}

.jobs__svg path {
  stroke: white;
}

.jobs__item-title {
  color: white;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.45px;
  font-weight: 700;
  font-size: 1.625rem;
  margin: 0;
}

.jobs__description {
  font-size: 0.8rem;
}

.jobs__btn {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #111111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  background: white;
  margin-top: auto;
}

.jobs__btn-text {
  color: black;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.jobs__btn::before {
  content: '';
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(45deg, #111111 -110%, #2216af 110%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.jobs__btn:hover {
  color: white;
  outline: none;
  text-decoration: none;
  background: transparent;
}

.jobs__btn:hover .jobs__btn-text {
  color: white;
}

.jobs__btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jobs__btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.documents {
  color: white;
  margin-top: 25vh;
}

.documents__text-container {
  background: #111111;
  background: linear-gradient(350deg, #BB231B -80%, #2216af 100%);
  border-radius: 15px;
  min-height: 30vh;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.documents__heading-svg {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

.documents__heading-svg path,
.documents__heading-svg rect,
.documents__heading-svg circle {
  fill: white;
}

.documents__table-container .table thead th,
.documents__table-container .table td,
.documents__table-container .table th {
  border-color: white;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 0.75rem;
}

.documents__table-container .table thead tr th:first-child {
  width: 10px;
}

.documents__table-container .table thead tr th:last-child {
  width: 100%;
}

.news {
  margin-top: 25vh;
}

.news__img {
  border-radius: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100%;
  height: auto;
  background: linear-gradient(-375deg, #BB231B 40%, #2216af 110%);
}

.news__img::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.6;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  z-index: 0;
  position: absolute;
  background: url("news.ad6808ae.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.news__read-every {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  font-weight: 700;
  font-size: 1.625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  outline: none;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
  background: transparent;
  text-align: right;
}

.news__read-every:hover {
  color: white;
  background: #2216af;
  text-decoration: none;
}

.news__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__place-text {
  font-size: 1.125rem;
  font-weight: 500;
}

.news__svg {
  display: block;
  height: 2rem;
  margin-right: 1rem;
}

.news__svg path,
.news__svg circle {
  fill: white;
}

.news__item-title {
  color: white;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.45px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.newsletter {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.newsletter .container-fluid {
  position: relative;
  min-height: 30vh;
  margin: 0 auto;
}

.newsletter__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  margin: 0 1rem;
  border-radius: 15px;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
}

.newsletter__container::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.6;
  z-index: 0;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
  position: absolute;
  background: url("ship.006159e2.jpeg");
  background-size: cover;
  background-position: bottom left;
  border-radius: 15px;
}

.newsletter__heading {
  font-weight: 700;
  letter-spacing: 0.45px;
  color: white;
  position: relative;
  z-index: 2;
}

.newsletter__subheading {
  font-weight: 500;
  color: white;
  font-size: 1.125rem;
  position: relative;
  z-index: 2;
  width: 100%;
}

.newsletter__email {
  border-radius: 8px;
  color: #111111;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 3;
  padding: 0.5rem 1rem;
  letter-spacing: 0.45px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  min-width: 200px;
  border: 3px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.newsletter__email:focus {
  outline: none;
  border: 3px solid #BB231B;
}

.newsletter__btn {
  border-radius: 8px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 3;
  padding: 0.5rem 2rem;
  letter-spacing: 0.45px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.newsletter__btn-text {
  position: relative;
  z-index: 2;
  font-weight: 500;
}

.newsletter__btn::before {
  content: '';
  bottom: -50%;
  height: 200%;
  width: 100%;
  position: absolute;
  left: 0;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.newsletter__btn:hover {
  color: white;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  border: none;
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newsletter__btn:hover::before {
  bottom: 0;
}

.newsletter__info {
  position: relative;
  z-index: 2;
}

.newsletter__info a {
  color: #BB231B;
  position: relative;
  z-index: 5;
}

.contact {
  color: white;
  margin-top: 25vh;
}

.contact__text-container {
  background: #111111;
  border-radius: 15px;
  padding: 1.5rem;
}

.contact__info {
  line-height: 1.8;
  font-weight: 500;
}

.contact__map {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  border-radius: 15px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #111111;
  color: white;
}

.footer .container-fluid {
  border-radius: 15px;
  margin: 0 1rem;
  position: relative;
  padding: 3rem 1rem;
}

.footer__logo {
  width: 100%;
}

.footer__logo svg {
  height: 100px;
  width: 100%;
}

.footer__logo svg path,
.footer__logo svg rect {
  fill: white;
}

.footer__heading {
  font-weight: 700;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background: -webkit-linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__ul {
  padding-left: 0;
}

.footer__li {
  list-style: none;
  font-weight: 500;
  line-height: 2;
}

.footer__link {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  color: #BB231B;
  text-decoration: none;
  padding-left: 0.5rem;
}

.footer__author-name {
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background: -webkit-linear-gradient(45deg, #BB231B 0%, #2216af 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__author-name:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1200px) {
  .intro__heading {
    font-size: 10vw;
  }
  .jobs__subheading {
    font-size: 10vw;
  }
  .jobs__img {
    min-height: 30vh;
    max-height: 50vh;
  }
  .jobs__img::before {
    background-position: center 700px;
  }
  .footer {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header {
    bottom: initial;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    padding: 0;
    height: 48px;
  }
  .header__logo {
    padding: 0;
  }
  .header__logo svg path,
  .header__logo svg rect {
    fill: white;
  }
  .header .dg .ac {
    z-index: 9999;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    max-width: 100%;
    width: 100%;
    opacity: 0;
  }
  .header__nav--entered {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  .header__nav-list {
    -webkit-transform: none;
            transform: none;
    display: block;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .header__nav-link {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    padding: 16px;
    text-align: center;
  }
  .header .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav-toggle--entered .nav-toggle__icon--menu {
    opacity: 0;
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
  .header .nav-toggle--entered .nav-toggle__icon--close {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  .main {
    margin-top: calc(2.5rem + 48px);
  }
  .jobs__img {
    max-height: 50vh;
  }
  .offer__carousel-link {
    height: 384px;
  }
}

@media (max-width: 480px) {
  .offer__carousel-link {
    height: 320px;
  }
}


/*# sourceMappingURL=main-style.c47a6225.css.map */